.wrapper {
    font-weight: 700;
    min-width: 100px;
    border-radius: 4px;
    border: none;
    /* background-color: white; */
    border: 1px solid transparent;
    display: initial;

    +.wrapper {
        margin-left: 8px;
    }
}

.primary {
    color: white;
    background-color: rgb(206, 17, 17);
    cursor: pointer;

}

.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: rgb(206, 17, 17);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

/* button size */

.small {
    min-width: 88px;
    padding: 9px 16px;
}

.large {
    min-width: 116px;
    padding: 14px 16px;
}

.text {
    cursor: pointer;
}